/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

body {
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --button-background-color: #2196f3;
  --accent-color: #ffffff;
  --background-link-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --link-color: #afb1b8;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
body.modal-open {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.portfolio__list, .portfolio__filter, .footer__list, .contact-nav, .header-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio__link, .logo, .header-nav__link,
.contact-nav__link {
  text-decoration: none;
}

.portfolio__content-title {
  margin: 0;
  color: var(--primary-text-color);
}

.header {
  position: relative;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
}
@media screen and (max-width: 767px) {
  .header-inner {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .header-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin: 0 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    margin: 0 312px 0 90px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-nav__item {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-nav__link,
.contact-nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
}
.header-nav__link:hover,
.contact-nav__link:hover {
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-nav__link:focus,
.contact-nav__link:focus {
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 767px) {
  .header-nav__link,
  .contact-nav__link {
    padding: 10px 0;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__link,
  .contact-nav__link {
    padding: 32px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-nav__link {
    padding: 10px 0 0 0;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-nav--current {
  position: relative;
}
.header-nav--current::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contact-nav {
    margin: 32px 0;
  }
}
@media screen and (min-width: 768px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.burger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
}
.burger__cross {
  display: none;
}
.burger.is-open .burger__cross {
  display: block;
}
.burger.is-open .burger__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.burger__svg {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}
.burger__svg:hover, .burger__svg:focus {
  fill: #2196f3;
}

.menu-container {
  background-color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: block;
    z-index: 2;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text {
  color: #2196f3;
}

.logo--white {
  color: #ffffff;
}

.button {
  display: inline-block;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.48px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 73px;
}

.button--primary {
  color: #ffffff;
  background-color: #2196f3;
}

.button--secondary {
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--secondary:hover, .button--secondary:focus {
  padding: 6px 25px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button--size {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
}

.button--sub-size {
  position: relative;
  padding: 10px 65px 10px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  padding: 60px 0;
  color: #ffffff;
  background-color: #2f303a;
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
}

.footer__address-info {
  display: inline-block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__address--shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: first baseline;
        -ms-flex-align: first baseline;
            align-items: first baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: first baseline;
        -ms-flex-align: first baseline;
            align-items: first baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .footer__inner-item {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__inner-item {
    text-align: center;
  }
}

.footer__title,
.form-subscription__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .footer__title,
  .form-subscription__title {
    text-align: center;
  }
}

@media screen and (min-width: 678px) and (max-width: 1199px) {
  .form-subscription__title {
    margin-top: 60px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196f3;
}

.footer__list-item:not(:last-child) {
  margin-right: 10px;
}

.form-subscription__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  padding: 15px 0 15px 16px;
  width: 450px;
}
.form-subscription__input:focus {
  color: #f5f4fa;
}
@media screen and (max-width: 1199px) {
  .form-subscription__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscription__input {
    margin-right: 12px;
    width: 358px;
  }
}

.form-subscription__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.form-subscription__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.form-subscription__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.form-subscription__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.form-subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form-subscription__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-subscription__icon {
  position: absolute;
  top: 50%;
  right: 26px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #ffffff;
  display: block;
}

@media screen and (max-width: 1199px) {
  .button-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .portfolio__filter {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 350px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

.portfolio__image {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .portfolio__filter-item {
    margin-bottom: 15px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__filter-item:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio__list {
  display: block;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.portfolio__item {
  border: 1px solid #eee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:focus, .portfolio__item:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__item:hover .portfolio__item-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 90px) / 3);
  }
}

.portfolio__content {
  padding: 20px 24px;
}

.portfolio__content-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.portfolio__content-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.48px;
}

.portfolio__link {
  color: inherit;
}

.portfolio__image-inner {
  position: relative;
  overflow: hidden;
}

.portfolio__item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin: 0;
  padding: 63px 24px 0 24px;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}/*# sourceMappingURL=portfolio.css.map */