.button {
  display: inline-block;
  padding: 6px 22px;

  color: getColor('primary-text-color');
  background-color: getColor('background-link-color');
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.48px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 73px;
}

.button--primary {
  color: getColor('accent-color');
  background-color: getColor('button-background-color');
}

.button--secondary {
  color: getColor('primary-text-color');
  background-color: getColor('background-link-color');
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    padding: 6px 25px;

    color: getColor('accent-color');
    background-color: getColor('button-background-color');

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.button--size {
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
}

.button--sub-size {
  position: relative;
  padding: 10px 65px 10px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
