.customers {
  padding: 94px 0;
}

.customers__title {
  @extend %title;
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}

.customers__list {
  @extend %list;
  display: flex;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-repeat: no-repeat;
  background-size: 106px 60px;
  background-position: center;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  fill: var(--link-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--button-background-color);
    fill: var(--button-background-color);
  }
}

.customers__list-item:not(:last-child) {
  margin-right: 30px;
}
