.footer {
  padding: 60px 0;

  color: getColor('accent-color');
  background-color: #2f303a;
}

.footer__address {
  margin-top: 20px;

  font-style: normal;
}

.footer__address-info {
  display: inline-block;
  margin-top: 9px;

  color: getColor('address-color');
}

.footer__address--shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__inner {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include centeredFlex(flex, space-around);
    align-items: first baseline;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    @include centeredFlex(flex, space-between);
    align-items: first baseline;
    flex-wrap: nowrap;
  }
}

.footer__inner-item {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__title,
.form-subscription__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.form-subscription__title {
  @media screen and (min-width: 678px) and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.footer__list {
  @extend %list;
  @include centeredFlex(flex);
}

.footer__social-link {
  @include centeredFlex(flex);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: getColor('accent-color');
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor('button-background-color');
  }
}

.footer__list-item:not(:last-child) {
  margin-right: 10px;
}
