.hero {
  max-width: 1600px;
  margin: 0 auto;

  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;

  color: var(--accent-color);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2.64px;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.61;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.37;
  }
}
