.hero {
  max-width: 1600px;
  margin: 0 auto;

  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  @media screen and (max-width: 480px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/hero/hero-w480.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-w480@2x.jpg);
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/hero/hero-w768.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-w768@2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/hero/hero-w1200.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-w1200@2x.jpg);
    }
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;

  color: var(--accent-color);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2.64px;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.61;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.37;
  }
}
