.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;

  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;

  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
